body {
    background-color: #F3F8F9;
}

.text-wrap {
    white-space: normal;
}

.rotate-45 {
    transform: rotate(45deg);
}

body[data-sidebar="dark"] .navbar-brand-box,
body[data-sidebar="dark"] .vertical-menu {
    background: darken($color: $primary, $amount: 15%);

    #sidebar-menu {
        ul {
            li {
                .sub-menu {
                    li {
                        a {
                            color: rgba($color: $white, $alpha: 0.5);

                            &:active,
                            &:focus,
                            &:hover {
                                color: rgba($color: $white, $alpha: 1);
                            }
                        }
                    }
                }

                a {
                    color: rgba($color: $white, $alpha: 0.5);

                    &:active,
                    &:focus,
                    &:hover {
                        color: rgba($color: $white, $alpha: 1);
                    }

                    i {
                        color: rgba($color: $white, $alpha: 0.5);
                    }
                }
            }
        }
    }
}

.noti-icon .badge {
    right: 0;
}
