.btn {
    &-primary {
        background-color: $primary;
        border-color: $primary;

        &:active,
        &:hover,
        &:focus {
            background-color: darken($color: $primary, $amount: 5%) !important;
            border-color: $primary !important;
            box-shadow: 0 0 0 0.15rem rgba($color: $primary, $alpha: 0.2);
        }
        &:disabled {
            opacity: 0.5;
            background-color: darken($color: $primary, $amount: 5%) !important;
            border-color: $primary !important;
            cursor: not-allowed;
        }
    }

    &-link {
        color: $primary;
    }

    &-icon {
        padding: 0.2rem;
        font-size: 1.2rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:focus,
        &:active,
        &:hover {
            &.edit {
                background-color: $green;
                color: $white;
                box-shadow: 0 0 0 0.15rem rgba($color: $primary, $alpha: 0.2);
            }

            &.delete {
                background-color: $red;
                color: $white;
                box-shadow: 0 0 0 0.15rem rgba($color: $primary, $alpha: 0.2);
            }

            &.view {
                background-color: $cyan;
                color: $white;
                box-shadow: 0 0 0 0.15rem rgba($color: $primary, $alpha: 0.2);
            }
        }
    }
}

.breadcrumb-item {
    & > a.btn {
        color: $white;

        &:hover {
            text-decoration: none !important;
        }
    }
}
