.custom-control-input:checked~.custom-control-label::before {
    border-color: $primary;
    background-color: $primary;
}

.custom-select {
    &:focus {
        box-shadow: 0 0 0 0.15rem rgba($color: $primary, $alpha: 0.2);
    }
}
