.datepicker {
    z-index: 9999 !important;

    table {
        tr {
            td {
                &.active {
                    background-color: $primary !important;
                }
            }
        }
    }
}
