.page-item {
    &.active {
        .page-link {
            background-color: $primary;
            border-color: $primary;
            &:hover,&:focus{
                color:$white !important;
                text-decoration: none !important;
            }
        }
    }

    .page-link {
        &:first-child {
            border-radius: 50%;
        }

        border-radius: 50%; 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        border: 0;
        background-color: lighten($color: $primary, $amount: 66%);
        &:focus{
            box-shadow: none;
            -webkit-box-shadow:none;
            color:$primary !important;
            text-decoration: none !important;
        }
        &:hover{
            color:$primary !important;
        }
    }
}