@for $i from 1 through 24 {
	.font-size-#{$i} {
		font-size: #{$i + "px"};
	}
}

a{
	color:$primary;
	&:hover{
		text-decoration: underline !important;
		color: $primary;
	}
}
.text-primary{
	color: $primary !important;
}