:root{
    --primary-color: #008f33;
    --white-color: #ffffff;
    --primary-color-alpha: 0, 143, 51;
    --table-secondary: #F5F7F7;
    --black-color:#000000;
}
html,body{
    scroll-behavior: smooth;
}
.navbar-brand img{
    max-height: 38px;
}
.navbar-nav{
    position: absolute;
    right: 1rem;
}
.navbar-toggler:focus{
    box-shadow: 0 0 0 .25rem rgba(var(--primary-color-alpha), 0.3);
}
.nav-link:focus,
.nav-link:hover,
.nav-link{
    color: var(--primary-color);
    text-align: start;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: var(--primary-color);
}
.bg-primary{
    background-color: var(--primary-color) !important;
}
.text-primary{
    color: var(--primary-color) !important;
}
.form-select{
    color: var(--primary-color);
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    background: transparent;
    padding-right: 5px;
}

.accordion-button{
    font-weight: 600;
    color: var(--primary-color);
}
.accordion-button::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23008f33'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23008f33'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.form-select:focus,
.accordion-button:focus{
    box-shadow: 0 0 0 .25rem rgba(var(--primary-color-alpha),.5);
}
.accordion-button:not(.collapsed){
    color: var(--primary-color);
    background-color: var(--primary-color-alpha);
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
.list{
    margin-bottom: 2rem;
}
.list .success,
.list .error{
    position: relative;
    padding-left: 34px;
    margin-bottom: .8rem;
}
.list .error::before{
    content: "";
    height: 26px;
    width: 34px;
    background: url(../img/warning.png)no-repeat center / contain;
    position: absolute;
    left: 0;
    top: 0;
}
.list .success::before{
    content: "";
    height: 26px;
    width: 34px;
    background: url(../img/approve.png)no-repeat center / contain;
    position: absolute;
    left: 0;
    top: 0;
}
.table-primary.table > :not(:first-child){
    border-top: 2px solid var(--primary-color);
}
.table-primary thead th{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
}
.table-primary tbody td:nth-child(odd){
    background-color: rgba(var(--primary-color-alpha), 0.08);
    border-color: var(--primary-color);
}
.table-primary tbody td:nth-child(even){
    background-color: var(--table-secondary);
    border-color: var(--primary-color);
}
.btn-close{
    filter: invert(100);
    
}
.btn-toggle:focus{
    box-shadow: 0 0 0 .25rem rgba(var(--primary-color-alpha),.25);
}
.btn-toggle {
    display: inline-flex;
    color: var(--black-color);
    border: 0;
    padding: .5rem 1rem;
    border-radius: 0.25rem;
    text-align: left;
    align-items: center;
  }
.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23008f33'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: center;
    transform: rotate(-90deg);
    right: 10px;
    position: absolute;
    font-size: 0.85rem;
  }
.manual-btn:hover,
.manual-btn:focus
{
    outline: none;
    box-shadow: none;
}
.btn-toggle[aria-expanded="true"]{
    background-color:  var(--primary-color);;
    color: var(--white-color);
} 
  
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(0deg);
    color: var(--white-color);
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.manual-btn a {
    padding: .1875rem .5rem;
    margin-top: .1rem;
    text-decoration: none;
    margin-left: 1rem;
    margin-bottom: .1rem;
    
  }
.smooth-scroll{
    text-decoration: none;
    color:var(--black-color);
}
.smooth-scroll.active{
    color:  var(--primary-color);
}
.manual-btn.active{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.pt-60{
    padding-top:60px;
}
.ml-1{
    margin-left: 1rem;
}
.manual-sidebar{
    padding: 0;
    overflow-y: auto;
    max-height: 90vh;
}


@media screen and (max-width: 767px) {
    .navbar-toggler{
        padding: .25rem .5rem;
        left: 1rem;
    }
    .navbar-brand{
        margin: auto !important;
    }
}

@media screen and (max-width: 767px) {
    .navbar-toggler{
        left: 8px;
    }
    .navbar-nav{
        right: 8px;
    }
}

/* Update Firmware */
.update-item{
    position: relative;
    counter-reset: update-step-item;
    
}
.update-item:not(:last-child):before{
    content: "";
    position:absolute;
    left: 0;
    top: 15px;
    height: 100%;
    width: 1px;
    background-color: var(--primary-color);
}
.update-item .h5:after{
    content: "";
    position: absolute;
    left: -5px;
    top:7px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--primary-color);
}
.update-item .h5:before{
    content: "";
    position: absolute;
    left:0px;
    top:12px;
    width: 2.5rem;
    height: 1px;
    background-color: var(--primary-color);
}
.update-item .h6{
    position: relative;
}
.update-item .h6:before{
    counter-increment: update-step-item;
    content: counter(update-step-item);
    margin-right: 8px;
    background-color: var(--primary-color);
    width: 24px;
    height: 24px;
    color: var(--white-color);
    display: inline-flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.82rem;
}
.update-item .row{
    position: relative;
}
.update-item .row:before{
    position: absolute;
    content: "";
    height: 1px;
    width: 75%;
    left: 50%;
    bottom: -4px;
    transform: translateX(-50%);
    background-color: var(--primary-color);
}
.update-item .col-6{
    position: relative;
}
.update-item .col-6:after{
    content: "";
    height: 54px;
    width: 1px;
    position: absolute;
    bottom:-5px;
    left: 50%;
    background-color: var(--primary-color);
}
.update-item .col-6:before{
    content: "";
    height: 14px;
    width: 14px;
    position: absolute;
    bottom:-16px;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    border:5px solid #a4d3b7;
    box-sizing: content-box;
}
@media screen and (max-width: 991px) {
    .update-item .row:before,
    .update-item .col-6:before,
    .update-item .col-6:after{
        content: none;
    }
}

.horizonatal-scroll{
    height: 100%;
    overflow: auto;
    width: 100%;
}
.scrolling-wrapper::-webkit-scrollbar {
     display: none;
}