.assembly-section {
    background: $body-color url(../img/wood-pattern.png) repeat center/100% 50%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    .assembly-elements {
        @media screen and (min-width: 1440px) {
            margin-bottom: 3rem;
        }
    }

    .assembly-intro {
        position: absolute;
        top: 5%;
        width: 100%;
        padding: 1rem;
        left: -100%;
        @media screen and (max-width: 560px) {
            width: 100%;
            top: 9%;
        }
    }

    .assembly-list {
        position: absolute;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        z-index: 99;
        left: 1rem;
        top: 5rem;
        width: 38%;
        height: 72vh;
        bottom: auto;
        overflow-y: auto;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        //box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        @media screen and (max-width: 560px) {
            background-color: rgba($white-color, $alpha: 0.95);
            width: auto;
            right: 1rem;
            height: 85vh;
        }
        &.active {
            opacity: 1;
            visibility: visible;
        }
        p {
            font-size: clamp(0.9rem, 1vw, 1.1rem);
            &.valsadi {
                padding: 0 3.5vw;
            }
        }
        .btn-modal-close {
            position: absolute;
            right: 0;
            top: 0;
            height: 38px;
            width: 38px;
            display: -ms-grid;
            display: grid;
            place-items: center;
            cursor: pointer;
        }
    }

    .panel {
        position: absolute;
        &.cusion-wrap {
            inset: 0;
            background-color: $white-color;
            opacity: 0;
        }
        .lamp-cusion {
            opacity: 0;
            height: 100%;
            z-index: 9 !important;
            position: relative;
            background-color: $white-color;
            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
            @media screen and (max-width: 560px) {
                display: none;
            }
        }
        .lamp-cusion-details {
            transform: translateX(110%);
            padding: 3rem;
            max-height: 90vh;
            overflow-y: auto;
            @media screen and (max-width: 560px) {
                position: absolute;
                inset: 0;
                z-index: 11;
                background-color: $white-color;
            }
        }
    }

    .stand {
        height: 25vh;
        background: url(../img/stand.png) no-repeat left bottom / cover;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        @media screen and (max-width: 820px) {
            height: 15vh;
        }
        @media screen and (max-width: 480px) {
            height: 7vh;
        }
    }

    .description {
        &.base-detail,
        &.top-detail {
            opacity: 0;
        }

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        width: 100%;
        text-align: left;
        padding-left: 1rem;
        font-size: clamp(0.9rem, 1vw, 1.1rem);
        @media screen and (min-width: 1279px) and (max-width:1921px) {
            left: 77%;
            width: 130%;
        }

        .points {
            content: "";
            height: 1rem;
            width: 1rem;
            background-color: $primary-color;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -50%;
            box-shadow: 0px 0px 10px 1px $primary-color;
            border: 1px solid #fff;
            animation: pulsewhite 2s infinite;
            @media screen and (min-width: 1279px) and (max-width:1921px) {
                left: -22%;
            }
        }

        &::after {
            content: "";
            width: 45%;
            border-top: 1px dashed $primary-color;
            position: absolute;
            left: -45%;
            top: 50%;
            @media screen and (min-width: 1279px) and (max-width:1921px) {
                width: 23%;
                left: -22%;
            }
            @media screen and (max-width: 560px) {
                content: none;
            }
        }
        p{
            margin-bottom: 0.3rem;
            display: inline;
        }
    }

    .circuit {
        position: relative;
        top: 18vh;
        opacity: 0;
        height: 14vh;
        margin: 0 auto;
        z-index: 2;
        img {
            height: 100%;
            width: auto;
        }
        @media screen and (max-width: 560px) {
            top: 125px;
        }
    }

    .circuit-cover {
        position: relative;
        top: 22vh;
        opacity: 0;
        height: 6vh;
        margin: 0 auto;
        z-index: 3;
        img {
            height: 100%;
            width: auto;
        }
    }

    .top {
        position: relative;
        top: 25.5vh;
        height: 30vh;
        margin: 0 auto;
        z-index: 4;
        img {
            height: 100%;
            width: auto;
        }
    }

    .base {
        position: relative;
        height: 13.5vh;
        margin: 0 auto;
        z-index: 1;
        img {
            height: 100%;
            width: auto;
        }
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba($primary-color, $alpha: 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba($primary-color, $alpha: 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba($primary-color, $alpha: 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba($primary-color, $alpha: 0.4);
        box-shadow: 0 0 0 0 rgba($primary-color, $alpha: 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba($primary-color, $alpha: 0);
        box-shadow: 0 0 0 10px rgba($primary-color, $alpha: 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba($primary-color, $alpha: 0);
        box-shadow: 0 0 0 0 rgba($primary-color, $alpha: 0);
    }
}
