.day-night-view {
    position: relative;
    overflow: hidden;

    .bg-shape-paper {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 50px;
    }

    .bg-cloud {
        position: absolute;
        left: 0;
        bottom: -15px;
        width: 100%;
        z-index: 2;
    }

    .carousel-indicators {
        bottom: 2rem;

        @media screen and (max-width: 560px) {
            bottom: 0;
            margin-bottom: 0;
        }

        [data-bs-target] {
            box-sizing: border-box;
            background-color: transparent;
            text-indent: unset;
            width: auto;
            height: auto;
            padding: 0;

            .view-tab {
                border: 2px solid $primary-color;
                border-radius: 50%;
                height: 90px;
                width: 90px;
                padding: 1rem;
            }
        }

        .active {
            &[data-bs-target] {
                .view-tab {
                    background-color: $primary-color;
                }

                img {
                    filter: brightness(100);
                }
            }
        }
    }

    .carousel-inner {
        .day,
        .day-mountain {
            filter: brightness(1);
        }
        .moon {
            position: absolute;
            bottom: 35%;
            opacity: 0;
            z-index: 1;
            max-width: 210px;
        }
        .sunrise {
            position: absolute;
            bottom: 35%;
            opacity: 0;
            z-index: 1;
            max-width: 540px;
            width: auto;
            left: 0;
        }

        .sunrise-top {
            position: absolute;
            bottom: 35%;
            opacity: 0;
            z-index: 1;
            max-width: 540px;
            width: auto;
            left: 0;
            @media screen and (max-width: 560px) {
                max-width: 260px;
            }
        }

        .img-product {
            position: absolute;
            bottom: 5rem;
            left: 5%;
            z-index: 3;
            max-width: 17%;
        }

        .day-glow {
            position: absolute;
            bottom: 20%;
            opacity: 0;
            left: 5%;
            z-index: 4;
            max-width: 17%;
            mix-blend-mode: color-burn;
        }

        .night-glow {
            position: absolute;
            bottom: 15%;
            left: 3.5%;
            max-width: 20%;
            mix-blend-mode: color-burn;
            opacity: 0;
        }
        .meditation {
            opacity: 0;
            position: absolute;
            inset: 0;
        }
        .meditation-glow {
            position: absolute;
            bottom: 15%;
            left: 2.5%;
            z-index: 6;
            max-width: 23%;
            mix-blend-mode: color-burn;
        }
        .moon-details,
        .meditation-details,
        .sun-details {
            max-width: 40%;
            position: absolute;
            top: 70%;
            z-index: 1;
            right: 1rem;
            opacity: 0;
            @media screen and (max-width: 767px) {
                p {
                    max-height: 25vh;
                    overflow: auto;
                }
            }

            @media screen and (max-width: 560px) {
                max-width: 70%;
            }
        }

        .sun-details {
            @media screen and (max-width: 767px) {
                z-index: 3;
            }
        }
        .carousel-item {
            .w-100 {
                @media screen and (max-width: 560px) {
                    height: 80vh;
                    object-fit: cover;
                }
            }
        }
    }
}
