/* .features {
	padding-bottom: 10rem !important;
	background: url(../img/wood-pattern.png) repeat center/100% 50%;
	cursor: e-resize;

	.feature-slider {
		.swiper-slide {
			transform: scale(0.85);
			transition: all 0.3s ease-in-out;

			img {
				max-height: 70vh;
				margin: 0 auto;
				display: block;
			}

			&-active {
				transform: scale(1);
			}
		}

		.swiper-pagination-bullet-active {
			background-color: $primary-color;
		}
	}
} */

.features{
	background: url(../img/lamp-with-cousin.png) no-repeat left 40%/50%;
	min-height: 100vh;
	display: -ms-grid;
	display: grid;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: unset;
	place-items: center;
	.bg-cousion{
		max-width: clamp(320px, 43vw, 50vw);
		position: absolute;
		z-index: 0;
		left: -1rem;
	}
	.feature-intro{
		position: absolute;
		top: 15%;
		left: 59%;
		opacity: 0;
	}
	.fpanel{
		opacity: 0;
		inset: 0;
		display: -ms-grid;
		display: grid;
		align-items: center;
		position: absolute;
		padding: 0 0.5rem;
		img{
			max-height: 90vh;
			display: block;
			margin: 0 auto;
			@media screen and (max-width:767px){
				max-height: 68vh;
			}
			@media screen and (max-width:560px){
				max-height: 66vh;
			}
		}
		.fpaneldescheight{
			> .fw-bold{
				p{
					margin-bottom: 0;
				}
			}
		}
		@media screen and (min-width: 1279px) {
			.showmorehidecontent {
				max-height: 50vh;
				overflow: auto;
				scrollbar-width: thin;
				&::-webkit-scrollbar {
					width: 0.5rem;
				}
			
				&::-webkit-scrollbar-track {
					box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
				}
			
				&::-webkit-scrollbar-thumb {
					background-color: $primary-color;
					outline: 1px solid $white-color;
				}
			}
		}
	}
}