.footer {
  background: url(../img/footer-bg.png) no-repeat center top / cover;
  margin-top: -90px;
  padding-top: 15rem !important;
  @media screen and (min-width: 1920px) {
    padding-top: 20rem !important;
  }
  @media screen and (max-width: 560px) {
    padding-top: 7rem !important;
  }
  .policy-menu {
    list-style-type: none;
    //display: flex;
    //justify-content: space-between;
    padding: 0;
    //margin-bottom: 0.5rem;
    li {
      a {
        color: $white-color;
        position: relative;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
		&::after{
			transition: all 0.3s ease-in-out;
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateX(-100%);
			width: 100%;
			height: 1px;
			background-color: $primary-color;
		}
		&:hover,
		&:focus{
			&::after{
				transform: translateX(0);
			}
		}
      }
      &.active{
        a{
          &::after{
            transform: translateX(0);
          }
        }
      }
    }
  }
  .social-icon {
    a {
      color: $white-color;
      height: 42px;
      width: 42px;
      display: -ms-inline-grid;
      display: inline-grid;
      place-items: center;
      border: 1px solid $white-color;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      margin-right: 0.5rem;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
