html,
body {
    scrollbar-width: thin;
    scrollbar-color: $primary-color $white-color;
    scroll-behavior: smooth;
    /* background: linear-gradient(90deg,
			rgb(225, 227, 226) 0%,
			rgb(248, 248, 248) 100%); 
			background: url(../img/body-bg.jpg) repeat center /100%;*/

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        outline: 1px solid $white-color;
    }
}

body {
    background: $body-color
        /* url(../img/wood-pattern.png)repeat center top / 100% 60% */;
    font-family: "Josefin Sans", sans-serif;
    font-size: clamp(1rem, 1.3vw, 1.4rem);
}

a {
    text-decoration: none;
}
p {
    &:empty {
        display: none;
    }
}

.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1440px;
    margin: 0 auto;
}

#loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .loading {
        border: 10px solid $primary-color;
        border-radius: 50%;
        border-top: 10px solid transparent;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
        background: transparent;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.text-primary {
    color: $primary-color !important;
}

.btn {
    &-outline-primary {
        color: $primary-color !important;
        border-color: $primary-color !important;
        &:focus,
        &:hover {
            background-color: $primary-color !important;
            color: $white-color !important;
            box-shadow: none;
        }
    }
}

.feature-modal {
    .modal-title {
        margin: auto;
    }
    .btn-close {
        margin-left: 0;
    }
    .step-title {
        background-color: $primary-color;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        color: $white-color;
    }
    .icons {
        display: inline-block;
        transition: all 0.3s ease-in-out;
        &:hover,
        &:focus {
            transform: translateY(-10px);
        }
    }
}

.accordion-button {
    background-color: #d4d3d4;
    border-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    &:not(.collapsed) {
        background-color: #d4d3d4;
        box-shadow: none;
    }
    img {
        @media screen and (max-width: 575px) {
            max-width: 32px;
        }
    }
    &:not(.collapsed) {
        &::after {
            background-image: url(../img/icons/download.svg);
        }
    }
}
.accordion-item {
    border: none;
    background-color: transparent;
    &:first-of-type {
        .accordion-button {
            border-top-left-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }
    }
}
.addReadMore,
.addReadMorelarge {
    .readMore,
    .readLess {
        margin-left: 1px;
        color: $primary-color;
        cursor: pointer;
        i {
            width: 24px;
            height: 24px;
            border-radius: 100%;
            line-height: 21px;
            font-size: 11px;
            margin-left: 3px;
            border: 1px solid $primary-color;
            transition: all 0.3s ease-in-out;
            animation: pulse 2s infinite;
        }
        &:hover {
            text-decoration: underline;
            i {
                background-color: $primary-color;
                color: $white-color;
            }
        }
    }
    &.showlesscontent {
        .SecSec,
        .readLess {
            display: none;
        }
    }
    &.showmorecontent {
        .readMore {
            display: none;
        }
    }
}
.addReadMoreWrapTxt {
    &.showmorecontent {
        .SecSec,
        .readLess {
            display: block;
        }
    }
}

.valsadi {
    &.addReadMorelarge {
        .readMore,
        .readLess {
            color: $white-color;
            i {
                border-color: $white-color;
                animation: pulsewhite 2s infinite;
            }
            &:hover {
                text-decoration: underline;
                i {
                    background-color: $white-color;
                    color: $primary-color;
                }
            }
        }
    }
}

@-webkit-keyframes flash {
    0%,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}
@keyframes flash {
    0%,
    50%,
    to {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@-webkit-keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    14% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    42% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    14% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    42% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes pulsewhite {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
@keyframes pulsewhite {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

.showmorehidecontent {
    &.hideContent {
        @media screen and (max-width: 767px) {
            height: 6rem;
            overflow: hidden;
        }
        @media screen and (max-width: 560px) {
            /* display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;   */
            height: 4.6rem;
            overflow: hidden;
            &:after {
                content: "...";
                display: inline;
            }
        }
    }
    &.showContent {
        @media screen and (max-width: 767px) {
            height: auto;
        }
        @media screen and (max-width: 560px) {
            height: auto;
        }
    }
}
.showmorebtn {
    display: none;
    @media screen and (max-width: 767px) {
        display: inline-block;
    }
    span {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        border: 1px solid $primary-color;
        color: $primary-color;
        transition: all 0.3s ease-in-out;
        animation: pulse 2s infinite;
        font-size: 0;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        &:before {
            content: "\f078";
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            font-size: 11px;
        }
        &.showless {
            margin-top: 0px;
            &:before {
                content: "\f077";
            }
        }
    }
}
.fpanel {
    .showmorehidecontent {
        &.hideContent {
            @media screen and (max-width: 767px) {
                height: 5rem;
            }
            @media screen and (max-width: 560px) {
                height: 4.6rem;
            }
        }
        &.showContent {
            @media screen and (max-width: 767px) {
                height: auto;
                max-height: 24vh;
                overflow: auto;
            }
            @media screen and (max-width: 560px) {
                height: auto;
                max-height: 22vh;
                overflow: auto;
            }
        }
    }
}

.secondintrotext {
    .showmorehidecontent {
        &.hideContent {
            @media screen and (max-width: 767px) {
                height: 14rem;
            }
            @media screen and (max-width: 560px) {
                height: 18rem;
            }
        }
        &.showContent {
            @media screen and (max-width: 767px) {
                height: auto;
            }
            @media screen and (max-width: 560px) {
                height: auto;
            }
        }
    }
}

.carousel-control-prev,
.carousel-control-next {
    top: inherit;
    bottom: 22%;
    opacity: 1;
    span {
        width: 24px;
        height: 24px;
        border: 1px solid $primary-color;
        color: $primary-color !important;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        animation: pulse 2s infinite;
        font-size: 11px;
        transition: all 0.3s ease-in-out;
    }
}
