.header {
	padding-top: 1rem;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1049; 

	.header-container {
		display: -ms-grid;
		display: grid;
		-ms-grid-columns: 15% 70% 15%;
		grid-template-columns: 15% 70% 15%;
		align-items: center;
		justify-items: center;

		.btn-buy{
			justify-self: end;
			box-shadow: 0 0 0 rgba($color: $primary-color, $alpha: 0.4);
			animation: pulse 2s infinite;
			min-width: 150px;
			white-space: nowrap;
			@media screen and (max-width:991px) {
				min-width: inherit;
			}
		}
		.burger-menu {
			width: 28px;
			display: inline-block;
			cursor: pointer;
			opacity: 0;
			visibility: hidden;

			span {
				height: 2px;
				width: 100%;
				background-color: $primary-color;
				margin: 6px 0;
				display: block;
			}
		}

		.logo {
			max-width: 180px;
			display: block;
			width: 100%;
		}
	}
}