.hero-wrap {
	position: relative;

	.hero-sec-1 {
		min-height: calc(100vh - 4.6rem);
		position: relative;
		display: grid;
		align-items: center;
		justify-items: center;
		grid-template-rows: 1fr 25vh;
		padding: 0 15px;
	}

	.hero-sec-2 {
		min-height: 50vh;
		position: relative;

		/* &::before {
			content: "";
			background: linear-gradient(
				to bottom,
				rgba(255, 255, 255, 0) 0%,
				rgb(248, 248, 248) 100%
			);
			height: 150px;
			width: 100%;
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
		} */
		.cloud-01 {
			background: url("../img/cloud.png") repeat center bottom / contain;
			-webkit-animation: animateCloud 35s linear infinite;
			-moz-animation: animateCloud 35s linear infinite;
			animation: animateCloud 35s linear infinite;
			position: absolute;
			bottom: -100px;
			left: 0;
			width: 100%;
			height: 75%;
			z-index: 1;

			@media screen and (max-width: 560px) {
				display: none;
			}
		}
	}

	.leaf {
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;

		&-1 {
			position: absolute;
			top: 15%;
			right: 5%;
			width: 120px;
		}

		&-2 {
			position: absolute;
			top: 40%;
			left: 5%;
			width: 90px;
		}

		&-3 {
			position: absolute;
			top: 40%;
			left: 10%;
			width: 180px;
		}

		&-4 {
			position: absolute;
			bottom: 50%;
			right: 5%;
			width: 80px;
		}
	}

	.main-product {
		top: 20%;
		max-height: clamp(15rem, 30vw, 560px);
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;
		left: 39%;

		@media screen and (max-width: 560px) {
			top: 25%;
			left: calc(50% - 25%);
		}
	}

	.main-title {
		font-size: clamp(2.5rem, 6vw, 7.5rem);
		font-weight: 700;
		text-transform: uppercase;
		color: transparent;
		background: url("../img/title-bg.png") no-repeat center / cover;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		position: relative;
		z-index: 2;
		word-break: break-word;
	}

	.hero-detail {
		display: -ms-grid;
		display: grid;
		align-items: center;
		justify-items: center;

		.btn-discover {
			position: relative;
			display: inline-block;
			color: $primary-color;
			margin-top: 2rem;

			&>img {
				max-width: 170px;
				display: block;
				animation: spin 15s linear infinite;
			}

			&>span {
				transition: all 0.3s ease-in-out;
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				left: 50%;
			}

			&:hover {
				&>span {
					filter: blur(1px);
				}
			}
		}
	}
}

@-webkit-keyframes animateCloud {
	0% {
		background-position: -100%;
	}

	100% {
		background-position: 100%;
	}
}

@-moz-keyframes animateCloud {
	0% {
		background-position: -100%;
	}
	100% {
		background-position: 100%;
	}
}

@keyframes animateCloud {
	0% {
		background-position: -100%;
	}
	100% {
		background-position: 100%;
	}
}