#cousionPackage{
    .img-lamp{
        max-height: 310px;
        @media screen and (max-width: 560px) {
            max-height: 140px;
        }
    }
    .img-mobile{
        max-height: 310px;
        @media screen and (max-width: 560px) {
            max-height: 140px;
        }
    }
}
@media screen and (max-width: 560px) {
    #cousionPackage{
        .img-lamp-parent{
            + p{
                font-size: 14px;
            }
        }
        .img-pillow{
            height: 75px;
            + p{
                font-size: 14px;  
            }
        }
        .img-mobile{
            + p{
              font-size: 14px;  
            }
        }
    }
}

.pillow-wrap {
    @media screen and (max-width: 560px) {
        padding-top: calc(40vh - 20vh);
    }
    .pillow-package {
        .layer-3 {
            position: relative;
            z-index: 3;
        }
        .layer-2 {
            position: absolute;
            inset: 0;
            top: 60px;
            padding: 0 2rem;
            z-index: 2;
            opacity: 0;
            transform: translateY(50px);
            @media screen and (max-width: 767px) {
                top: 34px;
            }
        }
        .layer-1 {
            position: absolute;
            bottom: 50px;
            padding: 0 2rem;
            z-index: 2;
            left: 0;
            top: auto;
            opacity: 0;
            transform: translateY(50px);
            @media screen and (max-width: 767px) {
                bottom: 26px;
            }
        }
        .layer-0 {
            position: absolute;
            bottom: 140px;
            padding: 0;
            z-index: 3;
            left: 105px;
            width: 120px;
            top: auto;
            opacity: 0;
            transform: translateY(50px);
            @media screen and (max-width: 767px) {
                bottom: 70px;
                left: 70px;
                width: 60px;
            }
        }
    }
    .pillow-detail {
        .layer-0-detail,
        .layer-1-detail,
        .layer-2-detail {
            opacity: 0;
            transform: translateY(50px);
        }
    }
}
