.therapy-section {
    //background: #fff url(../img/wood-pattern.png) repeat center/100% 50%;
    .natural-nue {
        position: absolute;
        bottom: -7vh;
        z-index: 1;
        width: max(15rem, 25%);
        @media screen and (max-width: 560px) {
            display: none;
        }
    }
    .bg-therapy {
        clip-path: circle(20% at 20% 60%);
        border-radius: 5rem;
        margin-bottom: 1rem;
        height: 80vh;
        width: 90vw;
        margin: 0 auto 1rem;
        //transform: translateX(100%) rotate(45deg);
        //opacity: 0;
        position: relative;
        overflow: hidden;
        @media screen and (max-width: 560px) {
            border-radius: 2rem;
            clip-path: circle(20% at 40% 60%);
        }
        img {
            object-fit: cover;
            object-position: left center;
            position: absolute;
            margin: auto;
            inset: 0;
            height: 100%;
            width: 100%;
            @media screen and (max-width: 560px) {
                object-position: 20% center;
            }
        }
    }
    .therapy-mobile-screen {
        position: absolute;
        right: 0;
        top: 10vh;
        //max-width: 490px;
        width: 26vw;
        @media screen and (max-width: 1441px) {
            //max-width: 380px;
        }
    }
    .carousel-inner {
        .therapy-detail-wrap {
            padding: 1rem;
            background: #f1f3f6;
            box-shadow: 20px 20px 20px rgb(205 207 209 / 50%),
                -20px -20px 20px #ffffff;
            border-radius: 2rem;
            @media screen and (max-width: 560px) {
                margin: 0 15px;
            }

            .therapy-detail {
                min-height: 7rem;
                @media screen and (max-width: 560px) {
                    min-height: inherit;
                }
            }
            .therapy-icons {
                .col {
                    @media screen and (max-width: 560px) {
                        margin: 5px 0;
                    }
                }
                img {
                    max-height: 80px;
                    @media screen and (max-width: 560px) {
                        max-height: 40px;
                        max-width: 100px;
                    }
                }
            }
        }
        .ovarlay {
            position: absolute;
            inset: 0;
            z-index: 1;
            mix-blend-mode: soft-light;
        }
    }

    .carousel-indicators {
        bottom: auto;
        top: 70vh;
        z-index: 3;
        /* @media screen and (max-width: 1920px) {
			top: 55vh;
		} */
        .active {
            transform: scale(1.2);
        }
        [data-bs-target] {
            height: auto;
            margin: 0 8px;
            width: auto;
            text-indent: unset;
            background-color: transparent;
            .color-bullet {
                border: 1px solid $white-color;
                height: 34px;
                width: 34px;
                display: inline-block;
                border-radius: 50%;
                @media screen and (max-width: 560px) {
                    height: 24px;
                    width: 24px;
                }
            }
        }
    }
}
