.tree-rotation {
  min-height: 100vh;
  position: relative;
  .tree {
    max-height: 35vh;
    &.one {
      position: absolute;
      bottom: 5%;
      transform: translateX(-50%);
      left: 50%;
    }
    &.two {
      position: absolute;
      top: 30%;
      transform: translateY(-50%);
      left: 15%;
    }
    &.three {
      position: absolute;
      top: 30%;
      transform: translateY(-50%);
      right: 15%;
    }
  }
}
