.h1 {
	font-size: clamp(2rem, 3vw, 4rem);
}

.h2 {
	font-size: clamp(1.4rem, 2vw, 3rem);
}

.h3 {
	font-size: clamp(1.2rem, 2vw, 2rem);
}

.h4 {
	font-size: clamp(1rem, 1.5vw, 1.4rem);
}
.h5 {
	font-size: clamp(1rem, 1vw, 1.2rem);
}
