.bg-soft-primary {
  background-color: rgba(0, 143, 51, 0.25) !important;
}

.bg-blue {
  background-color: #556ee6 !important;
}

.bg-indigo {
  background-color: #564ab1 !important;
}

.bg-purple {
  background-color: #6f42c1 !important;
}

.bg-pink {
  background-color: #e83e8c !important;
}

.bg-red {
  background-color: #f46a6a !important;
}

.bg-orange {
  background-color: #f1734f !important;
}

.bg-yellow {
  background-color: #f1b44c !important;
}

.bg-green {
  background-color: #34c38f !important;
}

.bg-teal {
  background-color: #050505 !important;
}

.bg-cyan {
  background-color: #50a5f1 !important;
}

.bg-white {
  background-color: white !important;
}

.bg-black {
  background-color: black !important;
}

.btn-primary {
  background-color: #008F33;
  border-color: #008F33;
}
.btn-primary:active, .btn-primary:hover, .btn-primary:focus {
  background-color: #00762a !important;
  border-color: #008F33 !important;
  box-shadow: 0 0 0 0.15rem rgba(0, 143, 51, 0.2);
}
.btn-primary:disabled {
  opacity: 0.5;
  background-color: #00762a !important;
  border-color: #008F33 !important;
  cursor: not-allowed;
}
.btn-link {
  color: #008F33;
}
.btn-icon {
  padding: 0.2rem;
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn-icon:focus.edit, .btn-icon:active.edit, .btn-icon:hover.edit {
  background-color: #34c38f;
  color: #ffffff;
  box-shadow: 0 0 0 0.15rem rgba(0, 143, 51, 0.2);
}
.btn-icon:focus.delete, .btn-icon:active.delete, .btn-icon:hover.delete {
  background-color: #f46a6a;
  color: #ffffff;
  box-shadow: 0 0 0 0.15rem rgba(0, 143, 51, 0.2);
}
.btn-icon:focus.view, .btn-icon:active.view, .btn-icon:hover.view {
  background-color: #50a5f1;
  color: #ffffff;
  box-shadow: 0 0 0 0.15rem rgba(0, 143, 51, 0.2);
}

.breadcrumb-item > a.btn {
  color: #ffffff;
}
.breadcrumb-item > a.btn:hover {
  text-decoration: none !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #008F33;
  background-color: #008F33;
}

.custom-select:focus {
  box-shadow: 0 0 0 0.15rem rgba(0, 143, 51, 0.2);
}

.page-item.active .page-link {
  background-color: #008F33;
  border-color: #008F33;
}
.page-item.active .page-link:hover, .page-item.active .page-link:focus {
  color: #ffffff !important;
  text-decoration: none !important;
}
.page-item .page-link {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border: 0;
  background-color: #e1ffeb;
}
.page-item .page-link:first-child {
  border-radius: 50%;
}
.page-item .page-link:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #008F33 !important;
  text-decoration: none !important;
}
.page-item .page-link:hover {
  color: #008F33 !important;
}

.font-size-1 {
  font-size: 1px;
}

.font-size-2 {
  font-size: 2px;
}

.font-size-3 {
  font-size: 3px;
}

.font-size-4 {
  font-size: 4px;
}

.font-size-5 {
  font-size: 5px;
}

.font-size-6 {
  font-size: 6px;
}

.font-size-7 {
  font-size: 7px;
}

.font-size-8 {
  font-size: 8px;
}

.font-size-9 {
  font-size: 9px;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-23 {
  font-size: 23px;
}

.font-size-24 {
  font-size: 24px;
}

a {
  color: #008F33;
}
a:hover {
  text-decoration: underline !important;
  color: #008F33;
}

.text-primary {
  color: #008F33 !important;
}

/*# sourceMappingURL=custom.css.map */
