.holderCircle {
  width: 780px;
  height: 780px;
  border-radius: 100%;
  margin: 80px auto;
  position: relative;
}

.dotCircle {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  z-index: 20;
}

.dotCircle .itemDot {
  display: block;
  width: 280px;
  height: 280px;
  position: absolute;
  background: transparent;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 280px;
  z-index: 3;
  cursor: pointer;
}

.dotCircle .itemDot .heading{
    position: absolute;
    inset: 0;
    display: -ms-grid !important;
    display: grid !important;
    place-items: center;
    margin: 0 auto;
    text-shadow: 1px 1px 2px black;
    font-size: clamp(0.3rem, 3vw, 1rem);
    word-wrap: break-word;
    width: 70%;

}
@media screen and (max-width:1199px){
  .dotCircle .itemDot .heading{width:35%}
}
@media screen and (max-width:991px){
  .dotCircle .itemDot .heading{width:35%}
}
@media screen and (max-width:767px){
  .dotCircle .itemDot .heading{width:35%}
}
@media screen and (max-width:599px){
  .dotCircle .itemDot .heading{width:34%}
}
@media screen and (max-width:399px){
  .dotCircle .itemDot .heading{width:22%}
}

.dotCircle .itemDot img {
  width: auto;
  max-height: 24vh;
  -webkit-filter: brightness(0.25);
  filter: brightness(0.25);
  max-width: 14vw;
}

.dotCircle .itemDot.active img,
.dotCircle .itemDot:hover img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}
.contentCircle {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #008f32a6;
  color: #fff;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  margin: auto;
}

.contentCircle .CirItem {
  border-radius: 100%;
  color: #fff;
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  margin: auto;
  background: #00000054;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 14px;
}

.CirItem.active {
  z-index: 1;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .holderCircle {
    width: 520px;
    height: 520px;
  }
  .dotCircle .itemDot img{max-width: 18vw;}
}

@media only screen and (min-width: 300px) and (max-width: 599px) {
  .holderCircle {
    width: 300px;
    height: 300px;
    margin: 30px auto 20px;
  }
  .holderCircle::after {
    width: 100%;
    height: 100%;
  }

  .dotCircle {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .contentCircle{
    height: 140px;
    width: 140px;
  }
}

@media screen and (max-width:599px){
  .dotCircle .itemDot img{max-width: 19vw;}
  .holderCircle {
    width: 360px;
    height: 360px;
  }
}

@media screen and (max-width: 399px){
  .dotCircle .itemDot img{max-width:20vw;}
  .holderCircle {
    width: 300px;
    height: 300px;
  }
}