html,
body {
  scrollbar-width: thin;
  scrollbar-color: #008F33 #ffffff;
  scroll-behavior: smooth;
  /* background: linear-gradient(90deg,
  rgb(225, 227, 226) 0%,
  rgb(248, 248, 248) 100%); 
  background: url(../img/body-bg.jpg) repeat center /100%;*/
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #008F33;
  outline: 1px solid #ffffff;
}

body {
  background: #f3f3f3;
  font-family: "Josefin Sans", sans-serif;
  font-size: clamp(1rem, 1.3vw, 1.4rem);
}

a {
  text-decoration: none;
}

p:empty {
  display: none;
}

.container {
  width: 100%;
  padding: 0 15px;
  max-width: 1440px;
  margin: 0 auto;
}

#loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#loader .loading {
  border: 10px solid #008F33;
  border-radius: 50%;
  border-top: 10px solid transparent;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  background: transparent;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.text-primary {
  color: #008F33 !important;
}

.btn-outline-primary {
  color: #008F33 !important;
  border-color: #008F33 !important;
}
.btn-outline-primary:focus, .btn-outline-primary:hover {
  background-color: #008F33 !important;
  color: #ffffff !important;
  box-shadow: none;
}

.feature-modal .modal-title {
  margin: auto;
}
.feature-modal .btn-close {
  margin-left: 0;
}
.feature-modal .step-title {
  background-color: #008F33;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: #ffffff;
}
.feature-modal .icons {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
.feature-modal .icons:hover, .feature-modal .icons:focus {
  transform: translateY(-10px);
}

.accordion-button {
  background-color: #d4d3d4;
  border-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.accordion-button:not(.collapsed) {
  background-color: #d4d3d4;
  box-shadow: none;
}
@media screen and (max-width: 575px) {
  .accordion-button img {
    max-width: 32px;
  }
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../img/icons/download.svg);
}

.accordion-item {
  border: none;
  background-color: transparent;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.addReadMore .readMore,
.addReadMore .readLess,
.addReadMorelarge .readMore,
.addReadMorelarge .readLess {
  margin-left: 1px;
  color: #008F33;
  cursor: pointer;
}
.addReadMore .readMore i,
.addReadMore .readLess i,
.addReadMorelarge .readMore i,
.addReadMorelarge .readLess i {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  line-height: 21px;
  font-size: 11px;
  margin-left: 3px;
  border: 1px solid #008F33;
  transition: all 0.3s ease-in-out;
  animation: pulse 2s infinite;
}
.addReadMore .readMore:hover,
.addReadMore .readLess:hover,
.addReadMorelarge .readMore:hover,
.addReadMorelarge .readLess:hover {
  text-decoration: underline;
}
.addReadMore .readMore:hover i,
.addReadMore .readLess:hover i,
.addReadMorelarge .readMore:hover i,
.addReadMorelarge .readLess:hover i {
  background-color: #008F33;
  color: #ffffff;
}
.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess,
.addReadMorelarge.showlesscontent .SecSec,
.addReadMorelarge.showlesscontent .readLess {
  display: none;
}
.addReadMore.showmorecontent .readMore,
.addReadMorelarge.showmorecontent .readMore {
  display: none;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
  display: block;
}

.valsadi.addReadMorelarge .readMore,
.valsadi.addReadMorelarge .readLess {
  color: #ffffff;
}
.valsadi.addReadMorelarge .readMore i,
.valsadi.addReadMorelarge .readLess i {
  border-color: #ffffff;
  animation: pulsewhite 2s infinite;
}
.valsadi.addReadMorelarge .readMore:hover,
.valsadi.addReadMorelarge .readLess:hover {
  text-decoration: underline;
}
.valsadi.addReadMorelarge .readMore:hover i,
.valsadi.addReadMorelarge .readLess:hover i {
  background-color: #ffffff;
  color: #008F33;
}

@-webkit-keyframes flash {
  0%, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes pulsewhite {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@keyframes pulsewhite {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
@media screen and (max-width: 767px) {
  .showmorehidecontent.hideContent {
    height: 6rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 560px) {
  .showmorehidecontent.hideContent {
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;   */
    height: 4.6rem;
    overflow: hidden;
  }
  .showmorehidecontent.hideContent:after {
    content: "...";
    display: inline;
  }
}
@media screen and (max-width: 767px) {
  .showmorehidecontent.showContent {
    height: auto;
  }
}
@media screen and (max-width: 560px) {
  .showmorehidecontent.showContent {
    height: auto;
  }
}

.showmorebtn {
  display: none;
}
@media screen and (max-width: 767px) {
  .showmorebtn {
    display: inline-block;
  }
}
.showmorebtn span {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid #008F33;
  color: #008F33;
  transition: all 0.3s ease-in-out;
  animation: pulse 2s infinite;
  font-size: 0;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.showmorebtn span:before {
  content: "\f078";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 11px;
}
.showmorebtn span.showless {
  margin-top: 0px;
}
.showmorebtn span.showless:before {
  content: "\f077";
}

@media screen and (max-width: 767px) {
  .fpanel .showmorehidecontent.hideContent {
    height: 5rem;
  }
}
@media screen and (max-width: 560px) {
  .fpanel .showmorehidecontent.hideContent {
    height: 4.6rem;
  }
}
@media screen and (max-width: 767px) {
  .fpanel .showmorehidecontent.showContent {
    height: auto;
    max-height: 24vh;
    overflow: auto;
  }
}
@media screen and (max-width: 560px) {
  .fpanel .showmorehidecontent.showContent {
    height: auto;
    max-height: 22vh;
    overflow: auto;
  }
}

@media screen and (max-width: 767px) {
  .secondintrotext .showmorehidecontent.hideContent {
    height: 14rem;
  }
}
@media screen and (max-width: 560px) {
  .secondintrotext .showmorehidecontent.hideContent {
    height: 18rem;
  }
}
@media screen and (max-width: 767px) {
  .secondintrotext .showmorehidecontent.showContent {
    height: auto;
  }
}
@media screen and (max-width: 560px) {
  .secondintrotext .showmorehidecontent.showContent {
    height: auto;
  }
}

.carousel-control-prev,
.carousel-control-next {
  top: inherit;
  bottom: 22%;
  opacity: 1;
}
.carousel-control-prev span,
.carousel-control-next span {
  width: 24px;
  height: 24px;
  border: 1px solid #008F33;
  color: #008F33 !important;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite;
  font-size: 11px;
  transition: all 0.3s ease-in-out;
}

.h1 {
  font-size: clamp(2rem, 3vw, 4rem);
}

.h2 {
  font-size: clamp(1.4rem, 2vw, 3rem);
}

.h3 {
  font-size: clamp(1.2rem, 2vw, 2rem);
}

.h4 {
  font-size: clamp(1rem, 1.5vw, 1.4rem);
}

.h5 {
  font-size: clamp(1rem, 1vw, 1.2rem);
}

.header {
  padding-top: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1049;
}
.header .header-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 70% 15%;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  justify-items: center;
}
.header .header-container .btn-buy {
  justify-self: end;
  box-shadow: 0 0 0 rgba(0, 143, 51, 0.4);
  animation: pulse 2s infinite;
  min-width: 150px;
  white-space: nowrap;
}
@media screen and (max-width: 991px) {
  .header .header-container .btn-buy {
    min-width: inherit;
  }
}
.header .header-container .burger-menu {
  width: 28px;
  display: inline-block;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
}
.header .header-container .burger-menu span {
  height: 2px;
  width: 100%;
  background-color: #008F33;
  margin: 6px 0;
  display: block;
}
.header .header-container .logo {
  max-width: 180px;
  display: block;
  width: 100%;
}

.hero-wrap {
  position: relative;
}
.hero-wrap .hero-sec-1 {
  min-height: calc(100vh - 4.6rem);
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 25vh;
  padding: 0 15px;
}
.hero-wrap .hero-sec-2 {
  min-height: 50vh;
  position: relative;
  /* &::before {
  	content: "";
  	background: linear-gradient(
  		to bottom,
  		rgba(255, 255, 255, 0) 0%,
  		rgb(248, 248, 248) 100%
  	);
  	height: 150px;
  	width: 100%;
  	display: block;
  	position: absolute;
  	bottom: 0;
  	left: 0;
  } */
}
.hero-wrap .hero-sec-2 .cloud-01 {
  background: url("../img/cloud.png") repeat center bottom/contain;
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 75%;
  z-index: 1;
}
@media screen and (max-width: 560px) {
  .hero-wrap .hero-sec-2 .cloud-01 {
    display: none;
  }
}
.hero-wrap .leaf {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.hero-wrap .leaf-1 {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 120px;
}
.hero-wrap .leaf-2 {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90px;
}
.hero-wrap .leaf-3 {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 180px;
}
.hero-wrap .leaf-4 {
  position: absolute;
  bottom: 50%;
  right: 5%;
  width: 80px;
}
.hero-wrap .main-product {
  top: 20%;
  max-height: clamp(15rem, 30vw, 560px);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  left: 39%;
}
@media screen and (max-width: 560px) {
  .hero-wrap .main-product {
    top: 25%;
    left: 25%;
  }
}
.hero-wrap .main-title {
  font-size: clamp(2.5rem, 6vw, 7.5rem);
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  background: url("../img/title-bg.png") no-repeat center/cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: relative;
  z-index: 2;
  word-break: break-word;
}
.hero-wrap .hero-detail {
  display: -ms-grid;
  display: grid;
  align-items: center;
  justify-items: center;
}
.hero-wrap .hero-detail .btn-discover {
  position: relative;
  display: inline-block;
  color: #008F33;
  margin-top: 2rem;
}
.hero-wrap .hero-detail .btn-discover > img {
  max-width: 170px;
  display: block;
  animation: spin 15s linear infinite;
}
.hero-wrap .hero-detail .btn-discover > span {
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.hero-wrap .hero-detail .btn-discover:hover > span {
  filter: blur(1px);
}

@-webkit-keyframes animateCloud {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}
@-moz-keyframes animateCloud {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}
@keyframes animateCloud {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}
.section-2 {
  padding: 1.5rem 15px;
  position: relative;
  min-height: 80vh;
}
.section-2 .pine-tree {
  transform: translateX(-50%);
  transform-origin: top;
}

.self-therapy {
  background: url(../img/bg-pattern-01.png) repeat center/auto;
  overflow: hidden;
}
.self-therapy .lamp {
  transform: scale(5);
  margin: 0 auto;
  display: block;
}

.assembly-section {
  background: #f3f3f3 url(../img/wood-pattern.png) repeat center/100% 50%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1440px) {
  .assembly-section .assembly-elements {
    margin-bottom: 3rem;
  }
}
.assembly-section .assembly-intro {
  position: absolute;
  top: 5%;
  width: 100%;
  padding: 1rem;
  left: -100%;
}
@media screen and (max-width: 560px) {
  .assembly-section .assembly-intro {
    width: 100%;
    top: 9%;
  }
}
.assembly-section .assembly-list {
  position: absolute;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  z-index: 99;
  left: 1rem;
  top: 5rem;
  width: 38%;
  height: 72vh;
  bottom: auto;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 560px) {
  .assembly-section .assembly-list {
    background-color: rgba(255, 255, 255, 0.95);
    width: auto;
    right: 1rem;
    height: 85vh;
  }
}
.assembly-section .assembly-list.active {
  opacity: 1;
  visibility: visible;
}
.assembly-section .assembly-list p {
  font-size: clamp(0.9rem, 1vw, 1.1rem);
}
.assembly-section .assembly-list p.valsadi {
  padding: 0 3.5vw;
}
.assembly-section .assembly-list .btn-modal-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 38px;
  width: 38px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.assembly-section .panel {
  position: absolute;
}
.assembly-section .panel.cusion-wrap {
  inset: 0;
  background-color: #ffffff;
  opacity: 0;
}
.assembly-section .panel .lamp-cusion {
  opacity: 0;
  height: 100%;
  z-index: 9 !important;
  position: relative;
  background-color: #ffffff;
}
.assembly-section .panel .lamp-cusion img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 560px) {
  .assembly-section .panel .lamp-cusion {
    display: none;
  }
}
.assembly-section .panel .lamp-cusion-details {
  transform: translateX(110%);
  padding: 3rem;
  max-height: 90vh;
  overflow-y: auto;
}
@media screen and (max-width: 560px) {
  .assembly-section .panel .lamp-cusion-details {
    position: absolute;
    inset: 0;
    z-index: 11;
    background-color: #ffffff;
  }
}
.assembly-section .stand {
  height: 25vh;
  background: url(../img/stand.png) no-repeat left bottom/cover;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
@media screen and (max-width: 820px) {
  .assembly-section .stand {
    height: 15vh;
  }
}
@media screen and (max-width: 480px) {
  .assembly-section .stand {
    height: 7vh;
  }
}
.assembly-section .description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  font-size: clamp(0.9rem, 1vw, 1.1rem);
}
.assembly-section .description.base-detail, .assembly-section .description.top-detail {
  opacity: 0;
}
@media screen and (min-width: 1279px) and (max-width: 1921px) {
  .assembly-section .description {
    left: 77%;
    width: 130%;
  }
}
.assembly-section .description .points {
  content: "";
  height: 1rem;
  width: 1rem;
  background-color: #008F33;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -50%;
  box-shadow: 0px 0px 10px 1px #008F33;
  border: 1px solid #fff;
  animation: pulsewhite 2s infinite;
}
@media screen and (min-width: 1279px) and (max-width: 1921px) {
  .assembly-section .description .points {
    left: -22%;
  }
}
.assembly-section .description::after {
  content: "";
  width: 45%;
  border-top: 1px dashed #008F33;
  position: absolute;
  left: -45%;
  top: 50%;
}
@media screen and (min-width: 1279px) and (max-width: 1921px) {
  .assembly-section .description::after {
    width: 23%;
    left: -22%;
  }
}
@media screen and (max-width: 560px) {
  .assembly-section .description::after {
    content: none;
  }
}
.assembly-section .description p {
  margin-bottom: 0.3rem;
  display: inline;
}
.assembly-section .circuit {
  position: relative;
  top: 18vh;
  opacity: 0;
  height: 14vh;
  margin: 0 auto;
  z-index: 2;
}
.assembly-section .circuit img {
  height: 100%;
  width: auto;
}
@media screen and (max-width: 560px) {
  .assembly-section .circuit {
    top: 125px;
  }
}
.assembly-section .circuit-cover {
  position: relative;
  top: 22vh;
  opacity: 0;
  height: 6vh;
  margin: 0 auto;
  z-index: 3;
}
.assembly-section .circuit-cover img {
  height: 100%;
  width: auto;
}
.assembly-section .top {
  position: relative;
  top: 25.5vh;
  height: 30vh;
  margin: 0 auto;
  z-index: 4;
}
.assembly-section .top img {
  height: 100%;
  width: auto;
}
.assembly-section .base {
  position: relative;
  height: 13.5vh;
  margin: 0 auto;
  z-index: 1;
}
.assembly-section .base img {
  height: 100%;
  width: auto;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 143, 51, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 143, 51, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 143, 51, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 143, 51, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 143, 51, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(0, 143, 51, 0);
    box-shadow: 0 0 0 10px rgba(0, 143, 51, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 143, 51, 0);
    box-shadow: 0 0 0 0 rgba(0, 143, 51, 0);
  }
}
.tree-rotation {
  min-height: 100vh;
  position: relative;
}
.tree-rotation .tree {
  max-height: 35vh;
}
.tree-rotation .tree.one {
  position: absolute;
  bottom: 5%;
  transform: translateX(-50%);
  left: 50%;
}
.tree-rotation .tree.two {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  left: 15%;
}
.tree-rotation .tree.three {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  right: 15%;
}

.section-5 {
  overflow: hidden;
  background: url(../img/bg-pattern-01.png) repeat;
}
.section-5 .section-5-banner {
  clip-path: circle(20% at 20% 60%);
  margin-bottom: 3rem;
}

#cousionPackage .img-lamp {
  max-height: 310px;
}
@media screen and (max-width: 560px) {
  #cousionPackage .img-lamp {
    max-height: 140px;
  }
}
#cousionPackage .img-mobile {
  max-height: 310px;
}
@media screen and (max-width: 560px) {
  #cousionPackage .img-mobile {
    max-height: 140px;
  }
}

@media screen and (max-width: 560px) {
  #cousionPackage .img-lamp-parent + p {
    font-size: 14px;
  }
  #cousionPackage .img-pillow {
    height: 75px;
  }
  #cousionPackage .img-pillow + p {
    font-size: 14px;
  }
  #cousionPackage .img-mobile + p {
    font-size: 14px;
  }
}
@media screen and (max-width: 560px) {
  .pillow-wrap {
    padding-top: 20vh;
  }
}
.pillow-wrap .pillow-package .layer-3 {
  position: relative;
  z-index: 3;
}
.pillow-wrap .pillow-package .layer-2 {
  position: absolute;
  inset: 0;
  top: 60px;
  padding: 0 2rem;
  z-index: 2;
  opacity: 0;
  transform: translateY(50px);
}
@media screen and (max-width: 767px) {
  .pillow-wrap .pillow-package .layer-2 {
    top: 34px;
  }
}
.pillow-wrap .pillow-package .layer-1 {
  position: absolute;
  bottom: 50px;
  padding: 0 2rem;
  z-index: 2;
  left: 0;
  top: auto;
  opacity: 0;
  transform: translateY(50px);
}
@media screen and (max-width: 767px) {
  .pillow-wrap .pillow-package .layer-1 {
    bottom: 26px;
  }
}
.pillow-wrap .pillow-package .layer-0 {
  position: absolute;
  bottom: 140px;
  padding: 0;
  z-index: 3;
  left: 105px;
  width: 120px;
  top: auto;
  opacity: 0;
  transform: translateY(50px);
}
@media screen and (max-width: 767px) {
  .pillow-wrap .pillow-package .layer-0 {
    bottom: 70px;
    left: 70px;
    width: 60px;
  }
}
.pillow-wrap .pillow-detail .layer-0-detail,
.pillow-wrap .pillow-detail .layer-1-detail,
.pillow-wrap .pillow-detail .layer-2-detail {
  opacity: 0;
  transform: translateY(50px);
}

.day-night-view {
  position: relative;
  overflow: hidden;
}
.day-night-view .bg-shape-paper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 50px;
}
.day-night-view .bg-cloud {
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  z-index: 2;
}
.day-night-view .carousel-indicators {
  bottom: 2rem;
}
@media screen and (max-width: 560px) {
  .day-night-view .carousel-indicators {
    bottom: 0;
    margin-bottom: 0;
  }
}
.day-night-view .carousel-indicators [data-bs-target] {
  box-sizing: border-box;
  background-color: transparent;
  text-indent: unset;
  width: auto;
  height: auto;
  padding: 0;
}
.day-night-view .carousel-indicators [data-bs-target] .view-tab {
  border: 2px solid #008F33;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  padding: 1rem;
}
.day-night-view .carousel-indicators .active[data-bs-target] .view-tab {
  background-color: #008F33;
}
.day-night-view .carousel-indicators .active[data-bs-target] img {
  filter: brightness(100);
}
.day-night-view .carousel-inner .day,
.day-night-view .carousel-inner .day-mountain {
  filter: brightness(1);
}
.day-night-view .carousel-inner .moon {
  position: absolute;
  bottom: 35%;
  opacity: 0;
  z-index: 1;
  max-width: 210px;
}
.day-night-view .carousel-inner .sunrise {
  position: absolute;
  bottom: 35%;
  opacity: 0;
  z-index: 1;
  max-width: 540px;
  width: auto;
  left: 0;
}
.day-night-view .carousel-inner .sunrise-top {
  position: absolute;
  bottom: 35%;
  opacity: 0;
  z-index: 1;
  max-width: 540px;
  width: auto;
  left: 0;
}
@media screen and (max-width: 560px) {
  .day-night-view .carousel-inner .sunrise-top {
    max-width: 260px;
  }
}
.day-night-view .carousel-inner .img-product {
  position: absolute;
  bottom: 5rem;
  left: 5%;
  z-index: 3;
  max-width: 17%;
}
.day-night-view .carousel-inner .day-glow {
  position: absolute;
  bottom: 20%;
  opacity: 0;
  left: 5%;
  z-index: 4;
  max-width: 17%;
  mix-blend-mode: color-burn;
}
.day-night-view .carousel-inner .night-glow {
  position: absolute;
  bottom: 15%;
  left: 3.5%;
  max-width: 20%;
  mix-blend-mode: color-burn;
  opacity: 0;
}
.day-night-view .carousel-inner .meditation {
  opacity: 0;
  position: absolute;
  inset: 0;
}
.day-night-view .carousel-inner .meditation-glow {
  position: absolute;
  bottom: 15%;
  left: 2.5%;
  z-index: 6;
  max-width: 23%;
  mix-blend-mode: color-burn;
}
.day-night-view .carousel-inner .moon-details,
.day-night-view .carousel-inner .meditation-details,
.day-night-view .carousel-inner .sun-details {
  max-width: 40%;
  position: absolute;
  top: 70%;
  z-index: 1;
  right: 1rem;
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .day-night-view .carousel-inner .moon-details p,
.day-night-view .carousel-inner .meditation-details p,
.day-night-view .carousel-inner .sun-details p {
    max-height: 25vh;
    overflow: auto;
  }
}
@media screen and (max-width: 560px) {
  .day-night-view .carousel-inner .moon-details,
.day-night-view .carousel-inner .meditation-details,
.day-night-view .carousel-inner .sun-details {
    max-width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .day-night-view .carousel-inner .sun-details {
    z-index: 3;
  }
}
@media screen and (max-width: 560px) {
  .day-night-view .carousel-inner .carousel-item .w-100 {
    height: 80vh;
    object-fit: cover;
  }
}

.therapy-section .natural-nue {
  position: absolute;
  bottom: -7vh;
  z-index: 1;
  width: max(15rem, 25%);
}
@media screen and (max-width: 560px) {
  .therapy-section .natural-nue {
    display: none;
  }
}
.therapy-section .bg-therapy {
  clip-path: circle(20% at 20% 60%);
  border-radius: 5rem;
  margin-bottom: 1rem;
  height: 80vh;
  width: 90vw;
  margin: 0 auto 1rem;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 560px) {
  .therapy-section .bg-therapy {
    border-radius: 2rem;
    clip-path: circle(20% at 40% 60%);
  }
}
.therapy-section .bg-therapy img {
  object-fit: cover;
  object-position: left center;
  position: absolute;
  margin: auto;
  inset: 0;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 560px) {
  .therapy-section .bg-therapy img {
    object-position: 20% center;
  }
}
.therapy-section .therapy-mobile-screen {
  position: absolute;
  right: 0;
  top: 10vh;
  width: 26vw;
}
.therapy-section .carousel-inner .therapy-detail-wrap {
  padding: 1rem;
  background: #f1f3f6;
  box-shadow: 20px 20px 20px rgba(205, 207, 209, 0.5), -20px -20px 20px #ffffff;
  border-radius: 2rem;
}
@media screen and (max-width: 560px) {
  .therapy-section .carousel-inner .therapy-detail-wrap {
    margin: 0 15px;
  }
}
.therapy-section .carousel-inner .therapy-detail-wrap .therapy-detail {
  min-height: 7rem;
}
@media screen and (max-width: 560px) {
  .therapy-section .carousel-inner .therapy-detail-wrap .therapy-detail {
    min-height: inherit;
  }
}
@media screen and (max-width: 560px) {
  .therapy-section .carousel-inner .therapy-detail-wrap .therapy-icons .col {
    margin: 5px 0;
  }
}
.therapy-section .carousel-inner .therapy-detail-wrap .therapy-icons img {
  max-height: 80px;
}
@media screen and (max-width: 560px) {
  .therapy-section .carousel-inner .therapy-detail-wrap .therapy-icons img {
    max-height: 40px;
    max-width: 100px;
  }
}
.therapy-section .carousel-inner .ovarlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  mix-blend-mode: soft-light;
}
.therapy-section .carousel-indicators {
  bottom: auto;
  top: 70vh;
  z-index: 3;
  /* @media screen and (max-width: 1920px) {
  	top: 55vh;
  } */
}
.therapy-section .carousel-indicators .active {
  transform: scale(1.2);
}
.therapy-section .carousel-indicators [data-bs-target] {
  height: auto;
  margin: 0 8px;
  width: auto;
  text-indent: unset;
  background-color: transparent;
}
.therapy-section .carousel-indicators [data-bs-target] .color-bullet {
  border: 1px solid #ffffff;
  height: 34px;
  width: 34px;
  display: inline-block;
  border-radius: 50%;
}
@media screen and (max-width: 560px) {
  .therapy-section .carousel-indicators [data-bs-target] .color-bullet {
    height: 24px;
    width: 24px;
  }
}

/* .features {
	padding-bottom: 10rem !important;
	background: url(../img/wood-pattern.png) repeat center/100% 50%;
	cursor: e-resize;

	.feature-slider {
		.swiper-slide {
			transform: scale(0.85);
			transition: all 0.3s ease-in-out;

			img {
				max-height: 70vh;
				margin: 0 auto;
				display: block;
			}

			&-active {
				transform: scale(1);
			}
		}

		.swiper-pagination-bullet-active {
			background-color: $primary-color;
		}
	}
} */
.features {
  background: url(../img/lamp-with-cousin.png) no-repeat left 40%/50%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: unset;
  place-items: center;
}
.features .bg-cousion {
  max-width: clamp(320px, 43vw, 50vw);
  position: absolute;
  z-index: 0;
  left: -1rem;
}
.features .feature-intro {
  position: absolute;
  top: 15%;
  left: 59%;
  opacity: 0;
}
.features .fpanel {
  opacity: 0;
  inset: 0;
  display: -ms-grid;
  display: grid;
  align-items: center;
  position: absolute;
  padding: 0 0.5rem;
}
.features .fpanel img {
  max-height: 90vh;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .features .fpanel img {
    max-height: 68vh;
  }
}
@media screen and (max-width: 560px) {
  .features .fpanel img {
    max-height: 66vh;
  }
}
.features .fpanel .fpaneldescheight > .fw-bold p {
  margin-bottom: 0;
}
@media screen and (min-width: 1279px) {
  .features .fpanel .showmorehidecontent {
    max-height: 50vh;
    overflow: auto;
    scrollbar-width: thin;
  }
  .features .fpanel .showmorehidecontent::-webkit-scrollbar {
    width: 0.5rem;
  }
  .features .fpanel .showmorehidecontent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }
  .features .fpanel .showmorehidecontent::-webkit-scrollbar-thumb {
    background-color: #008F33;
    outline: 1px solid #ffffff;
  }
}

.footer {
  background: url(../img/footer-bg.png) no-repeat center top/cover;
  margin-top: -90px;
  padding-top: 15rem !important;
}
@media screen and (min-width: 1920px) {
  .footer {
    padding-top: 20rem !important;
  }
}
@media screen and (max-width: 560px) {
  .footer {
    padding-top: 7rem !important;
  }
}
.footer .policy-menu {
  list-style-type: none;
  padding: 0;
}
.footer .policy-menu li a {
  color: #ffffff;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}
.footer .policy-menu li a::after {
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  width: 100%;
  height: 1px;
  background-color: #008F33;
}
.footer .policy-menu li a:hover::after, .footer .policy-menu li a:focus::after {
  transform: translateX(0);
}
.footer .policy-menu li.active a::after {
  transform: translateX(0);
}
.footer .social-icon a {
  color: #ffffff;
  height: 42px;
  width: 42px;
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  margin-right: 0.5rem;
}
.footer .social-icon a:last-child {
  margin-right: 0;
}
.footer .social-icon a:hover {
  background-color: #008F33;
}

/*# sourceMappingURL=custom.css.map */
